{% extends "base.html" %}

{% block content %}
{% if user.is_superuser %}
  <a href="{% url 'carro' %}" class="btn btn-warning">voltar</a>
{% endif %}
  <div class="container">
    <div>
      <form class="d-flex mb-5" role="search">
        <input class="form-control me-2" type="search" placeholder="Nome do Produto" aria-label="Search" name="carro_filipe">
        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
      </form>
    </div>
    <div >
      {% include "partials/_metrica_adm_vendedor.html" %}
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">PRODUTO</th>
          <th scope="col">QUANTIDADE</th>
          <th scope="col">VALOR</th>
          {% if user.is_superuser %}
            <th scope="col">CUSTO TOTAL ESTOQUE</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for filipe in car_filipe %}  
          <tr>
            <th scope="row">{{filipe.id}}</th>
            <td>{{filipe.produto}}</td>
            <td>{{filipe.quantidade}}</td>
            <td>R$ {{filipe.valor}}</td>
            {% if user.is_superuser %}
              <td>R$ {{filipe.total_valor}}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}