{% extends "base.html" %}

{% block content %}
{% if user.is_superuser %}
  <a href="{% url 'carro' %}" class="btn btn-warning">voltar</a>
{% endif %}
<div class="container">
  <div>
    <form class="d-flex mb-5" role="search" method="get">
      <input class="form-control me-2" type="search" placeholder="Nome do Produto" aria-label="Search" name="carro_toninho">
      <button class="btn btn-outline-success" type="submit">Pesquisar</button>
    </form>
  </div>
  <div>
    {% include "partials/_metrica_adm_vendedor_toninho.html" %}
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">PRODUTO</th>
        <th scope="col">QUANTIDADE</th>
        <th scope="col">VALOR</th>
        {% if user.is_superuser %}
          <th scope="col">CUSTO TOTAL ESTOQUE</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for toninho in car_toninho %}  
        <tr>
          <th scope="row">{{toninho.id}}</th>
          <td>{{toninho.produto}}</td>
          <td>{{toninho.quantidade}}</td>
          <td>R$ {{toninho.valor}}</td>
          {% if user.is_superuser %}
            <td>R$ {{toninho.total_valor}}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}